@use './_variables.scss' as *;

.c-input {
  display: block;
  border: 1px solid #ccc;
  padding: $offset-base;
  font-size: $font-size;
  min-height: $field-height--lg;
  border-radius: $border-radius;
}

.c-button {
  background-color: $primary-color;
  border-radius: $border-radius;
  min-height: $field-height--lg;
  color: #fff;

  &:hover {
    background-color: $primary-color;
  }
}
