@use './_variables.scss' as *;

// Default drawer width
$drawer-width: 60px;

// Default header height
$header-height: 60px;

.l-app {
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #eaeaea;
      bottom: -1px;
      left: $drawer-width;
    } // .l-app__header:after
  } // .l-app__header

  &__body {
    display: flex;
    flex-direction: row;
  } // .l-app__body
} // .l-app

// Layout styles for the application body
.l-app-body {
  &__drawer {
    background-color: rgb(16, 25, 40);
    width: $drawer-width;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  } // .l-app-container__drawer

  &__content {
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    padding: $offset-base;
    background-color: #f9f9f9;
  } // .l-app-container__content
} // .l-app-body

.l-app-header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  } // .l-app-header__title
} // .l-app-header

// Layout styles for the drawer component
.l-app-drawer {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: $drawer-width;
    height: $drawer-width;

    &--last {
      margin-top: auto;
    } // ..l-app-drawer__item--last

    svg {
      z-index: 2;
      fill: #fff;
      width: $icon-size--sm;
      height: $icon-size--sm;
    } // ..l-app-drawer svg
  } // .l-app-drawer__item

  &__link {
    position: relative;
    width: $drawer-width - 15px;
    height: $drawer-width - 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;

    &:after {
      content: '';
      z-index: 1;
      opacity: 0;
      display: block;
      position: absolute;
      border-radius: $border-radius;
      background-color: transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color, width, opacity, right 0.15s linear;
    } // .l-app-drawer__link:after

    &:hover {
      &:after {
        opacity: 1;
        background-color: #495569cc;
      }
    } // .l-app-drawer__link a:hover

    &--active {
      &:after {
        background-color: $primary-color;
        opacity: 1;
      }

      &:hover {
        &:after {
          background-color: $primary-color;
        }
      } // .l-app-drawer__link a:hover
    } // .l-app-drawer__link--active
  } // .l-app-drawer__link
} // .l-app-drawer

.l-container {
  max-width: 650px;
  padding: 0 16px;
  margin: 0 auto;

  &--column {
    display: flex;
    flex-direction: column;
  }

  &--full-height {
    height: 100vh;
    justify-content: center;
  }
}

.l-task-item {
  display: flex;
  padding: $offset-base;
  border-bottom: 1px solid #eaeaea;

  &--completed {
    text-decoration: line-through;
    color: #999;
  }

  input[type='checkbox'] {
    margin-right: $offset-base;
  }
}
