$primary-color: #3498db;
$secondary-color: #2ecc71;

$font-size: 17px;
$font-family: 'IBM Plex Mono', sans-serif;

// Default icon size
$icon-size: 24px;
$icon-size--sm: 20px;

$field-height--lg: 56px;
$field-height--md: 44px;
$field-height--sm: 36px;

// Border radius variables
$border-radius--lg: 16px;
$border-radius--md: 12px;
$border-radius--sm: 8px;
$border-radius: 10px;

$offset-base: 16px;
