@use 'sass:meta';

@use 'tailwindcss';

@use './_variables.scss' as *;
@use './_components.scss' as *;
@use './_layouts.scss' as *;

body {
  background-color: #f9f9f9;
  font-family: $font-family;
  color: #333;
  margin: 0;
}

a {
  cursor: pointer;
}
